[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-mysql = "*"
django-cors-headers = "*"
pika = "*"
flask = "*"
flask-script = "*"
flask-cors = "*"
requests = "*"
sqlalchemy = "*"
flask-sqlalchemy = "==2.4.4"
flask-migrate = "==2.5.3"
flask-cli = "*"

[dev-packages]

[requires]
python_version = "3.10"
